@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove ugly browser defaults */
a {
  color: inherit;
  text-decoration: none;
}

/* ---------- Flashcard flip support ---------- */
.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
